<h2 align = "center">title :<%= @article.title%></h2>
<% if @article.user %>
    <div class = "rows center">
        <div class = "col-sm-2 col-sm-offset-1">
            <h4>Created By</h4>
            <div class = "listing">
                <li><%= link_to ( gravatar_for @article.user ), user_path(@article.user) %></li>
                <li><%= link_to @article.user.username, user_path(@article.user) %></li>
            </div>
        </div>
    </div>
<% end %>
<div class = "rows">
    <div class = "well col-sm-6">
        <h4 class = "center description"><strong>Description</strong></h4>
        <%= simple_format( @article.description) %>
        <div class = "article_actions">
            <div class="btn-group" role="group" aria-label="...">
            <%= link_to "View All Articles", articles_path, class: "btn btn-default btn-xs" %>
            <% if logged_in? && current_user === @article.user %>
                <%= link_to "Edit", edit_article_path(@article), class: "btn btn-default btn-xs" %>
                <%= link_to "Delete", article_path(@article), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-default btn-xs" %>
            <% end %>
            </div>
        </div>
    </div>
</div>

